

// ========================
// DESKTOP (>=769px)
// ========================
@media (min-width: 769px) {

  .DtmSubmenu {
    display: none;
  }

  #masthead ul.header-nav>li.menu-item>.sub-menu:has(.DtmSubmenu){
      background-color: unset;
  }

  .DtSubmenu {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
    background-color: $cl-bg-1;
    border: 1px solid $cl-bd-1;
    border-radius: 5px;
    column-gap: 30px;
    box-shadow: 0 16px 32px rgba(34, 37, 49, 0.24);

    &-Text1{
      font-size: $dt-fs-1;
      color: $cl-tx-1;
      font-weight: bold;
      padding: 15px 0;
    }

    &-Text2{
      font-size: $dt-fs-2;
      color: $cl-tx-2;
      padding: 15px 0;
    }

    &-Text3{
      font-size: $dt-fs-3;
      color: $cl-tx-3;
      padding: 15px 0;
    }

    &-Text4{
      font-size: $dt-fs-4;
      color: $cl-tx-4;
      padding: 15px 0;
    }

    &-MarginLeft1{
      margin-left: $dt-sz-1;
    }

    &-MarginLeft2{
      margin-left: $dt-sz-2;
    }

    &-MarginLeft3{
      margin-left: $dt-sz-3;
    }
    
    &-MarginLeft4{
      margin-left: $dt-sz-4;
    }

    // Title
    &-Title {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid $cl-bd-1;
    }

    .DtSubmenuTitle-Link {
      cursor: pointer;
      text-decoration: none;

      &Separate {
        border-right: 1px solid $cl-bd-1;
        width: 150px;
      }
    }

    // Grid
    &-Grid {
      display: grid;
      padding-top: 20px;
      column-gap: 20px;
      row-gap: 20px;

      &-Three {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .DtSubmenuLink {
      text-decoration: none;

      &:hover {
        color: $cl-tx-h;
      }
    }

    // Toggle
    .DtToggleLayout {
      display: grid;
      grid-template-columns: 150px auto;
      gap: $dt-sz-2;
    }

    .DtToggleMenu {
      height: 300px;
      overflow-y: auto;
      border-right: 1px solid $cl-bd-1;

      &::-webkit-scrollbar {
        width: 3px;
        border-radius: 5px;
        background-color: $cl-bg-1;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $cl-bg-h;
      }

      &-Item {
        cursor: pointer;
        padding: 15px 10px;
        border-right: 3px solid transparent;
        transition: all 0.2s ease;

        &.DtToggleMenu-Active {
          background-color: $cl-bg-a;
          color: $cl-tx-a;
        }
      }
    }

    // Toggle content
    .DtToggleContent {
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      &-Active {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      &-Item {
        display: none;

        &Active {
          display: grid;
          grid-template-columns: 2fr 2fr;
          gap: 30px;
        }
      }
    }

    .DtToggleContent-Link {
      display: block;
      text-decoration: none;

      &:hover {
        color: $cl-tx-h;
      }
    }

    .DtToggleButton-Active{
      color: $cl-tx-a;
    }

    .DtSubmenuGrid{
      display: grid;
    }

    .DtSubmenuGrid-Two{
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }

    .DtSubmenuGrid-Three{
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
    }

    
  }
}
