

// ========================
// DESKTOP (>=769px)
// ========================
@media (min-width: 769px) {
  .DtmSubmenu {
    display: none;
  }

  .DtSubmenu {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
    background-color: $bg-white;
    border: 1px solid $border-color;
    border-radius: 5px;
    column-gap: 20px;
    box-shadow: 0 16px 32px rgba(34, 37, 49, 0.24);

    // Title
    &-Title {
      display: flex;
      gap: 41px;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-color;
      font-size: 16px;
    }

    .DtSubmenuTitle-Link {
      cursor: pointer;
      color: $text-color;
      text-decoration: none;

      &Bold,
      &Active {
        color: #000;
        font-weight: 600;
      }

      &Separate {
        border-right: 1px solid $border-color;
        padding-right: 41px;
      }
    }

    // Grid
    &-Grid {
      display: grid;
      padding-top: 20px;
      column-gap: 20px;
      row-gap: 20px;

      &-Three {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .DtSubmenuLink {
      font-size: 14px;
      color: $text-muted;
      text-decoration: none;

      &:hover {
        color: $text-color;
      }
    }

    // Toggle
    .DtToggleLayout {
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 20px;
      padding-top: 15px;
    }

    .DtToggleMenu {
      overflow-y: auto;
      border-right: 1px solid $border-color;

      &::-webkit-scrollbar {
        width: 3px;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;

        &:hover {
          background-color: #666;
        }
      }

      &-Item {
        cursor: pointer;
        padding: 8px;
        border-right: 3px solid transparent;
        transition: all 0.2s ease;

        &.DtToggleMenu-Active {
          font-weight: 600;
          background-color: #cccccc63;
        }
      }
    }

    // Toggle content
    .DtToggleContent {
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      &-Active {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      &-Item {
        display: none;

        &Active {
          display: grid;
          grid-template-columns: 2fr 2fr;
          gap: 60px;
        }
      }
    }

    .DtToggleContentList-Title {
      font-weight: 600;
      margin-bottom: 25px;
    }

    .DtToggleContent-Link {
      display: block;
      margin-bottom: 25px;
      color: $text-muted;
      text-decoration: none;

      &:hover {
        color: $text-color;
      }
    }
  }
}
