// ========================
// VARIABLES
// ========================
$background-color: #f8f9fa;
$background-hover-color: #e9ecef;
$background-active-color: #ced4da;

$border-color: #dee2e6;

$text-color-bold1: #000000;
$text-color-bold2: #1b1b1b;
$text-color-bold3: #444444;
$text-color-bold4: #858585;

$text-hover-color: #756c01;
$text-active-color: #810101;

