
services:
  assets_builder:
    image: node:18-alpine
    container_name: assets_builder
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      - SHELL=/bin/sh
    command: >
      sh -c "
        npm install -g sass terser npm-run-all chokidar-cli &&
        npm install &&
        mkdir -p dist &&
        npm run build &&
        npm run watch
      "
    tty: true
